﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <style>
        span {
        text-align:center;
        }
       

        </style>
</head>
<body style="margin-left: 400px">
    <form id="form1" runat="server">
    <div>
        Full Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; <asp:TextBox ID="tb1" runat="server"></asp:TextBox>
        <br />
        <br>
        Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <asp:TextBox ID="tb2" runat="server"></asp:TextBox>
        <br />
        <br />
        Gender&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        <asp:RadioButton ID="male" runat="server" Text="Male" GroupName="radio" />
        <asp:RadioButton ID="female" runat="server" Text="Female" GroupName="radio" />
        <br />
        <br>        
        Nationality&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <asp:DropDownList ID="dd1" runat="server" AutoPostBack="True">
            <asp:ListItem>-Select-</asp:ListItem>
            <asp:ListItem>Indian</asp:ListItem>
            <asp:ListItem>Pakisthan</asp:ListItem>
            <asp:ListItem>other</asp:ListItem>
        </asp:DropDownList>
        <br />
        <br>
        Skills<asp:CheckBoxList ID="CheckBoxList1" runat="server" RepeatDirection="Horizontal" BorderStyle="Dotted" CellSpacing="2" Height="24px" Width="361px">
            <asp:ListItem Value="1">Asp.Net</asp:ListItem>
            <asp:ListItem Value="2">jQuery</asp:ListItem>
            <asp:ListItem Value="3">MVC</asp:ListItem>
            <asp:ListItem Value="4">Sql Server</asp:ListItem>
        </asp:CheckBoxList>
        &nbsp;&nbsp;<br />
        <br>
        Post applying for&nbsp;&nbsp;&nbsp; <asp:RadioButton ID="rb1" runat="server" Text="Trainee" GroupName="radio1" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <asp:RadioButton ID="rb2" runat="server" Text="Software Engineer" GroupName="radio1" /><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <asp:RadioButton ID="rb3" runat="server" Text="Team Leader" GroupName="radio1" />
        <asp:RadioButton ID="rb4" runat="server" Text="Project manager" GroupName="radio1" />
        <br />
        <br>
        <span aria-multiline="True" aria-orientation="vertical" style="text-align: center">Paste your resume</span> <asp:TextBox ID="tb3" runat="server" Height="43px" ValidateRequestMode="Enabled" Width="144px"></asp:TextBox>
        <br />
        <br>
        <asp:Button ID="submit" runat="server" Text="Submit" OnClick="submit_Click" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       
         </div>

        <div>
       <table border="1">
                <tr>
                    <th colspan="7">
                        <h1><b>Details</b></h1>
                    </th>
                </tr>
                <tr>
                    <th>Full Name
            <th>Email
                <th>Gender
            <th>Nationality
                <th>skills
                    <th>Post applying for
                        <th>Paste your resume

                </tr>
                <tr>
                <td><asp:Label ID="Label1" runat="server" Text=""></asp:Label></td>
                 <td><asp:Label ID="Label2" runat="server" Text=""></asp:Label></td>
                     <td><asp:Label ID="Label3" runat="server" Text=""></asp:Label></td>
                     <td><asp:Label ID="Label4" runat="server" Text=""></asp:Label></td>
                     <td><asp:Label ID="Label5" runat="server" Text=""></asp:Label></td>
                     <td><asp:Label ID="Label6" runat="server" Text=""></asp:Label></td>
                     <td><asp:Label ID="Label7" runat="server" Text=""></asp:Label></td>
                </tr>

            </table>
            </div>

    </form>
</body>
</html>
